html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Home {
  background: rgb(42, 4, 85);
  background: linear-gradient(
    135deg,
    rgba(42, 4, 85, 1) 0%,
    rgba(133, 10, 152, 1) 25%,
    rgba(229, 22, 106, 1) 50%,
    #ff693c 70%,
    rgba(133, 10, 152, 1) 90%,
    rgba(42, 4, 85, 1) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
}
.main_container {
  /* scroll-snap-type: y mandatory;
  height: 100vh !important;
  overflow-y: scroll; */
}
section {
  height: 100vh !important;
  /* scroll-snap-align: start; */
}
.Home {
  z-index: 1 !important;
}
.Products {
  z-index: 2 !important;
  height: 200vh !important;
}
